@import "vars.scss"; 
@import "mixins.scss";

//шрифт для заголовка в футере
.footer__titile {
    font-family: $main-font;
    font-weight: 400;
}

//шрифт для текста в футере (кроме заголовка)
.footer__content {
    font-family: $main-font;
    font-weight: 300;
}

//video, education

.edu-card__univers,
.edu-card__years {
    @include main_text;
}

.edu-card__prof {
    font-family: $main-font;
    color: $text-color;
}

.btn-primary_sp {
    font-family: $main-font;
}   